### Java build ###
/backend/target/
backend/out/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Maven ###
/backend/HELP.md
!/backend/.mvn/wrapper/maven-wrapper.jar

### Node ###
/frontend/node_modules/

### Build output ###
/frontend/build/
frontend/dist/

### Logs ###
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Env files ###
.env
.env.*.local

### Secret files ###
/backend/src/main/resources/application-secret.properties

### IDEs & OS ###
.DS_Store
Thumbs.db
.vscode/
*.iml
*.ipr
*.iws
/.idea/
.classpath
.project
.settings/
